@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

// Primary colors
$dark-cyan: hsl(158, 36%, 37%);
$cream: hsl(30, 38%, 92%);

// Neutral colors
$dark-blue: hsl(212, 21%, 14%);
$dark-grayish-blue: hsl(228, 12%, 48%);
$white: hsl(0, 0%, 100%);

:root {
  font-size: 16px;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: 768px) {
    display: block;
    width: auto;
    height: auto;
  }
}

body {
  font-family: "Montserrat";
  background-color: $cream;
  margin: 0;
}

.main__container {
  display: flex;
  margin: 0 auto;
  width: 45rem;
  gap: 15px;
  background-color: $white;
  border-radius: 15px;

  @media (max-width: 768px) {
    flex-direction: column;
    width: 90%;
    margin: 2rem auto;
    height: 70%;
  }

  & .lhs {
    flex: 1;

    & img {
      border-radius: 15px 0px 0px 15px;
    }
  }

  & .responsive-image {
    .mobile-image {
      display: none;
    }

    @media (max-width: 768px) {
      .desktop-image {
        display: none;
      }

      .mobile-image {
        display: block;
        // flex: 1;
        border-radius: 15px 15px 0px 0px;
      }
    }
  }

  & .rhs {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 2rem;

    @media (max-width: 768px) {
      padding: 1rem 2rem 2rem 2rem;
    }

    & .product__title {
      font-weight: normal;
      font-size: 0.9rem;
      text-transform: uppercase;
      font-weight: 500;
      letter-spacing: 5px;
      margin: 0;
      color: $dark-blue;
    }

    & .product__subtitle {
      font-family: "Fraunces";
      font-size: 2rem;
      width: 80%;
      font-weight: 700;
      margin: 0;
      line-height: 2rem;
      color: $dark-blue;
      @media (max-width: 768px) {
        width: 100%;
      }
    }

    & .product__description {
      color: $dark-grayish-blue;
      width: 90%;
      line-height: 1.5rem;

      @media (max-width: 768px) {
        width: 100%;
        font-size: 0.9rem;
      }
    }

    & .product__prices {
      display: flex;
      gap: 15px;
      align-items: center;

      & .actual__price {
        color: $dark-cyan;
        font-family: "Fraunces";
        font-weight: 700;
        font-size: 2rem;
      }

      & .discount__price {
        font-family: "Montserrat";
        text-decoration: line-through;
        font-weight: 500;
        font-size: 0.9rem;
        color: $dark-grayish-blue;
      }
    }

    & .product__add-cart {
      background-color: $dark-cyan;
      color: #fff;
      width: 80%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0.8rem 1rem;
      border-radius: 10px;
      margin-top: 1rem;
      cursor: pointer;
      gap: 10px;
      font-weight: 700;
    }
    & .product__add-cart:hover {
      background-color: $dark-blue;
    }
  }
}
